{% extends 'base.html.twig' %}

{% block title %}Valider Ma Commande{% endblock %}

{% block body %}
        <h2>Je passe ma Commande</h2>
        <p>Choisissez vos préférences avant de passer votre Commande sur la Boutique française</p>
        <hr>
        <div class="row">
                <div class="col-md-6">
                        <b>Choisir mon addresse d livraison</b><br>
                        <b>Choisir mon transporteur</b>

                </div>
                <div class="col-md-6">
                        <b>Récap de ma commande</b><br>
                        <b>Bouton pour payer</b>
                </div>
        </div>
{% endblock %}
